body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

#chatroomContent{
    background-image: url("../img/chatroom.jpg");
    background-size: cover;
}

@keyframes animation {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
  
#animatedTitle {
    color: beige;
    animation-name: animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.message1{
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    background-color:rgba(156, 123, 123, 0.3);
}
.message2{
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    background-color:rgba(156, 123, 123, 0.3);
}