html{
    background-image: url("../img/login.jpg");
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    /* height: 50%; */
    background-color: rgba(72, 83, 83, 0.5);
    /* text-align: center; */
}
